<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server Status</title>
    <style>
      body {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
      }
      .container {
        text-align: center;
      }
      h1 {
        font-size: 26px;
        margin: 0;
      }
      hr {
        margin: 10px 0;
        border: 1px solid #fff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>🎉 Server Working Perfectly 🎉</h1>
      <h2>Developer : Mursalin Hossain</h2>
    </div>
  </body>
</html>
